.deznav {
  width: 18rem;
}

.content-body {
  margin-left: 18rem;
}

.deznav .metismenu > li a > i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0;
  height: 40px;
  width: 30px;
  text-align: center;
  margin-right: 10px;
  border-radius: 2px;
  line-height: 40px;
  border-radius: 2px;
}

.deznav .metismenu ul a {
  padding-left: 3rem;
}

.form-control.is-invalid {
  border-color: #f72b50 !important;
  border: 1px solid #f72b50 !important;
}

[data-sidebar-style="full"][data-layout="vertical"]
  .deznav
  .metismenu
  > li
  > a {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .mobile-w-100 {
    width: 100%;
  }
  .mobile-left-right-pr {
    left: 0;
    right: auto;
  }
}
